<a href="https://colab.research.google.com/github/moncykurien/InternshipAssignments/blob/main/WebScrappingAssignmentBeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
def display_hearder_wiki(url):
  page = requests.get(url)
  soup = BeautifulSoup(page.content, 'html.parser')
  header_tags = ['h1','h2','h3','h4']
  return soup.find_all(header_tags)

In [ ]:
display_hearder_wiki('https://en.wikipedia.org/wiki/Main_Page')

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

#2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [25]:
import pandas as pd

In [26]:
pd.set_option('display.max_rows', 100)

In [27]:
def get_top_100(urls, file_name, region = None):
  movie_name_list = []
  release_year_list = []
  rating_list = []

  for url in urls:
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    for movie in soup.find_all('h3'):
      try:
        movie_name_list.append(movie.text.split('\n')[2].strip())
        release_year_list.append(movie.text.split('\n')[3].split('(')[-1].strip(')').strip())
      except:
        continue
    if region == None:
      cls = "inline-block ratings-imdb-rating"
    elif region.casefold() == 'india':
      cls = "ipl-rating-star small"
    else:
      raise Exception("The 'region' parameter should be 'India' or None.")
    for rating in soup.find_all('div', class_ = cls):
      try:
        rating_list.append(rating.text.split()[0])
      except:
        continue
  movie_name_list=list(filter(None,movie_name_list))
  release_year_list=list(filter(None,release_year_list))
  rating_list=list(filter(None,rating_list))

  dataframe = pd.DataFrame({'Name':movie_name_list,'IMDB rating':rating_list,'Year of release': release_year_list})
  dataframe.to_csv('/content/'+file_name)
  return dataframe

In [28]:
urls = ['https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc','https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt']
top100 = get_top_100(urls, 'IMDB_top100_movies.csv')
top100.head(100)

                                                 Name  ... Year of release
0                            The Shawshank Redemption  ...            1994
1                                       The Godfather  ...            1972
2                                     The Dark Knight  ...            2008
3                              The Godfather: Part II  ...            1974
4                                        12 Angry Men  ...            1957
5       The Lord of the Rings: The Return of the King  ...            2003
6                                        Pulp Fiction  ...            1994
7                                    Schindler's List  ...            1993
8                                           Inception  ...            2010
9                                          Fight Club  ...            1999
10  The Lord of the Rings: The Fellowship of the Ring  ...            2001
11                                       Forrest Gump  ...            1994
12                     The Good, the Bad and the Ugly  ...            1966
13              The Lord of the Rings: The Two Towers  ...            2002
14                                         The Matrix  ...            1999
15                                         Goodfellas  ...            1990
16     Star Wars: Episode V - The Empire Strikes Back  ...            1980
17                    One Flew Over the Cuckoo's Nest  ...            1975
18                                           Parasite  ...            2019
19                                       Interstellar  ...            2014
20                                        City of God  ...            2002
21                                      Spirited Away  ...            2001
22                                Saving Private Ryan  ...            1998
23                                     The Green Mile  ...            1999
24                                  Life Is Beautiful  ...            1997
25                                              Se7en  ...            1995
26                           The Silence of the Lambs  ...            1991
27                 Star Wars: Episode IV - A New Hope  ...            1977
28                                          Hara-Kiri  ...            1962
29                                      Seven Samurai  ...            1954
30                              It's a Wonderful Life  ...            1946
31                                           Hamilton  ...            2020
32                                           Whiplash  ...            2014
33                                   The Intouchables  ...            2011
34                                       The Prestige  ...            2006
35                                       The Departed  ...            2006
36                                        The Pianist  ...            2002
37                                          Gladiator  ...            2000
38                                 American History X  ...            1998
39                                 The Usual Suspects  ...            1995
40                             Léon: The Professional  ...            1994
41                                      The Lion King  ...            1994
42                         Terminator 2: Judgment Day  ...            1991
43                                    Cinema Paradiso  ...            1988
44                             Grave of the Fireflies  ...            1988
45                                 Back to the Future  ...            1985
46                       Once Upon a Time in the West  ...            1968
47                                             Psycho  ...            1960
48                                         Casablanca  ...            1942
49                                       Modern Times  ...            1936
50                                        City Lights  ...            1931
51                                         Capharnaüm  ...            2018
52                                              Joker  ...            2019
53                                         Your Name.  ...            2016
54                                             Dangal  ...            2016
55                  Spider-Man: Into the Spider-Verse  ...            2018
56                                  Avengers: Endgame  ...            2019
57                             Avengers: Infinity War  ...            2018
58                                               Coco  ...            2017
59                                   Django Unchained  ...            2012
60                              The Dark Knight Rises  ...            2012
61                       Zack Snyder's Justice League  ...            2021
62                                           3 Idiots  ...            2009
63                                   Taare Zameen Par  ...            2007
64                                             WALL·E  ...            2008
65                                The Lives of Others  ...            2006
66                                             Oldboy  ...            2003
67                                            Memento  ...            2000
68                                  Princess Mononoke  ...            1997
69                        Once Upon a Time in America  ...            1984
70                            Raiders of the Lost Ark  ...            1981
71                                        The Shining  ...            1980
72                                     Apocalypse Now  ...            1979
73                                              Alien  ...            1979
74                                       High and Low  ...            1963
75  Dr. Strangelove or: How I Learned to Stop Worr...  ...            1964
76                        Witness for the Prosecution  ...            1957
77                                     Paths of Glory  ...            1957
78                                        Rear Window  ...            1954
79                                       Sunset Blvd.  ...            1950
80                                 The Great Dictator  ...            1940
81                                           The Hunt  ...            2012
82                               Inglourious Basterds  ...            2009
83              Eternal Sunshine of the Spotless Mind  ...            2004
84                                Requiem for a Dream  ...            2000
85                                    American Beauty  ...            1999
86                                  Good Will Hunting  ...            1997
87                                          Toy Story  ...            1995
88                                         Braveheart  ...            1995
89                                     Reservoir Dogs  ...            1992
90                                             Aliens  ...            1986
91                                            Amadeus  ...            1984
92         Star Wars: Episode VI - Return of the Jedi  ...            1983
93                                           Das Boot  ...            1981
94                              2001: A Space Odyssey  ...            1968
95                                            Vertigo  ...            1958
96                                Singin' in the Rain  ...            1952
97                                       Citizen Kane  ...            1941
98                                                  M  ...            1931
99                                            The Kid  ...            1921

[100 rows x 3 columns]

#3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

###I have repurposed the get_top_100 to work for Indian movies as well

In [29]:
urls = ['https://www.imdb.com/list/ls063915608/']
Indian_top100 = get_top_100(urls, 'IMDB_top100_Indianmovies.csv','India')
Indian_top100.head(100)

                                 Name IMDB rating Year of release
0                     Rang De Basanti         8.2            2006
1   Lagaan: Once Upon a Time in India         8.1            2001
2                      Dil Chahta Hai         8.1            2001
3                  Gangs of Wasseypur         8.2            2012
4            Zindagi Na Milegi Dobara         8.2            2011
5                            3 Idiots         8.4            2009
6                              Swades         8.2            2004
7                    Paan Singh Tomar         8.2            2012
8                      Salaam Bombay!           8            1988
9                  Bhaag Milkha Bhaag         8.2            2013
10                        A Wednesday         8.1            2008
11                             Barfi!         8.1            2012
12                              Dev.D           8            2009
13                 Gangs of Wasseypur         8.2            2012
14                               Piku         7.6            2015
15                   Taare Zameen Par         8.4            2007
16                Munna Bhai M.B.B.S.         8.1            2003
17                        Vicky Donor         7.8            2012
18                           Drishyam         8.2            2015
19                         Hera Pheri         8.2            2000
20                    Andaz Apna Apna         8.2            1994
21                          Gangaajal         7.8            2003
22        Once Upon a Time in Mumbaai         7.4            2010
23                           Rajneeti         7.1            2010
24                         Special 26           8            2013
25                             Masaan         8.2            2015
26                       Ankhon Dekhi           8            2013
27                            Parched         7.6            2015
28                              Udaan         8.2            2010
29                                 PK         8.1            2014
30              Oye Lucky! Lucky Oye!         7.7            2008
31                    Ship of Theseus         8.1            2012
32                            Kahaani         8.1            2012
33                            Maqbool         8.1            2003
34                       Bandit Queen         7.6            1994
35                       Black Friday         8.5            2004
36                             Omkara         8.1            2006
37                              Queen         8.2            2013
38                             Shahid         8.2            2012
39                       The Lunchbox         7.8            2013
40                             Dangal         8.4            2016
41                     Chak De! India         8.2            2007
42                              Black         8.2            2005
43                               Guru         7.7            2007
44                    My Name Is Khan           8            2010
45           Manjhi: The Mountain Man           8            2015
46                              Satya         8.2            1998
47                                Paa         7.2            2009
48                           Raincoat         7.6            2004
49         The Legend of Bhagat Singh         8.1            2002
50                           Apaharan         7.4            2005
51                    OMG: Oh My God!         8.1            2012
52                              Shool         7.7            1999
53                             Talvar         8.2            2015
54                        Wake Up Sid         7.6            2009
55                             Sholay         8.2            1975
56                             Haider         8.1            2014
57                   Mumbai Meri Jaan         7.7            2008
58             Jo Jeeta Wohi Sikandar         8.2            1992
59               Lage Raho Munna Bhai         8.1            2006
60                 Dum Laga Ke Haisha         7.5            2015
61                           Rockstar         7.7            2011
62        Dilwale Dulhania Le Jayenge         8.1            1995
63                   English Vinglish         7.8            2012
64                            Ghajini         7.3            2008
65                             Devdas         7.6            2002
66                         Jab We Met         7.9            2007
67                               Pink         8.1            2016
68                               Ugly           8            2013
69                          Rock On!!         7.7            2008
70                       Jodhaa Akbar         7.6            2008
71                      Peepli [Live]         7.4            2010
72                            Company           8            2002
73                             Damini         7.8            1993
74                             Gulaal         8.1            2009
75                        Udta Punjab         7.8            2016
76                        Madras Cafe         7.7            2013
77                            Lootera         7.3            2013
78           Baahubali: The Beginning           8            2015
79                            Fashion         6.9            2008
80                          Sarfarosh         8.1            1999
81                         Kai Po Che         7.7            2013
82                         Raanjhanaa         7.6            2013
83                    Bajirao Mastani         7.2            2015
84                              Zakhm         7.9            1998
85                            Virasat         7.5            1997
86                   Stanley Ka Dabba         7.8            2011
87                               Darr         7.8            1993
88                          Guzaarish         7.4            2010
89                    Namastey London         7.1            2007
90               Nayak: The Real Hero         7.8            2001
91                             Khakee         7.4            2004
92                        Delhi Belly         7.6            2011
93               Gadar: Ek Prem Katha         7.2            2001
94                         Veer-Zaara         7.8            2004
95                 Kuch Kuch Hota Hai         7.6            1998
96                            Dhamaal         7.3            2007
97             Golmaal: Fun Unlimited         7.4            2006
98                            Aligarh         7.8            2015
99                              Earth         7.7            1998

#4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [ ]:
def get_book_details(url, items = 10):
  
  review_page = requests.get(review_url)
  review_soup = BeautifulSoup(review_page.content, 'html.parser')
  h4_elements = review_soup.find_all('h4',limit=items)
  p_elements = review_soup.find_all('p',class_="genre-links hidden-phone", limit=items)
  return [h4_elements,p_elements]

def get_book_review(url, limit = 10):
  
  genre_list = []
  book_names_list = []
  author_names_list = []
  reviews_list = []
  book_review_urls = []
  items = limit
  page = requests.get(url)
  soup = BeautifulSoup(page.content, 'html.parser')
  review_url = url+soup.find('a', class_ ='dropdown-toggle')['href']

  book_details= get_book_details(review_url, limit)

  genre_list = []
  for p in p_elements:
    genre_list.append(p.text.strip().replace("\n",""))
  for parent in h4_elements:
    for child in parent.findChildren('a'):
      book_review_urls.append(url+child['href'])
  
  for br_url in book_review_urls:
    try:
      br_page = requests.get(br_url)
      br_soup = BeautifulSoup(br_page.content, 'html.parser')
      book_names_list.append(br_soup.find('h1').text.strip())
      author_names_list.append(br_soup.find('h4').text.strip())
      paragraphs = br_soup.find('div', class_ ="article-body")
      for p_tag in paragraphs.findChildren('p'):
        reviews_list.append(p_tag.text.strip('\n'))
        break
    except:
      continue
  return pd.DataFrame({'Book':book_names_list, 'Author':author_names_list, 'Genre':genre_list, 'Review': reviews_list})

In [ ]:
url = 'https://bookpage.com'
reviews_dataframe = get_book_review(url, limit = 5)

In [ ]:
reviews_dataframe

                                  Book  ...                                             Review
0              The Daughters of Kobani  ...  The story of how young Kurdish women brought d...
1  The Zoologist's Guide to the Galaxy  ...  People have long speculated about the possibil...
2                               Rivals  ...  “It’s not about winning; it’s about having fun...
3    Brother, Sister, Mother, Explorer  ...  Set in the tourist town of Ciudad de Tres Herm...
4        The Sweet Taste of Muscadines  ...  It can take very little to upend a life and se...

[5 rows x 4 columns]

In [ ]:
reviews_dataframe.loc[0,'Review']

'The story of how young Kurdish women brought down terrorists from the Islamic State group has been waiting to be told. If Kobani, Syria, is a city that has gone unnoticed in the saga of Middle Eastern wars, then The Daughters of Kobani: A Story of Rebellion, Courage, and Justice will change that. It’s the story of a new generation of combatants, long denied choices about education, marriage or their very futures, who vanquished hosts of kidnappers, rapists and enslavers. Yet when author and journalist Gayle Tzemach Lemmon was asked to tell their story, she hesitated. “It just doesn’t make sense that the Middle East would be home to AK-47-wielding women driven with fervor and without apology or hesitation to make women’s equality a reality—and that the Americans would be the ones backing them.” She decided to go see for herself.\nBy 2016, civil war was tearing Syria apart, leaving room for ISIS, with help from allies such as Russia and Iran, to swagger in. President Barack Obama pledged that there would be no American troops on the ground; American support would have to come from the air, with airstrikes and weapons drops, while consultants and diplomats strategized from afar. On the front lines in Kobani were women like Azeema, trained as an expert sniper, and her childhood friend Rojda, whose mother still called her every day.\nBased on hours of on-the-ground reporting and countless interviews with Kurdish Women’s Protection Units (YPJ) fighters, Lemmon delivers a vivid, street-by-bombed-out-street account of the final days of the battle for Kobani. Strewn throughout are reports of what the soldiers were up against: appalling ISIS acts like beheadings, torture and worse. The YPJ was outnumbered and underequipped, but they were fearless.\nThe battles for Kobani, and later Raqqa, were key moments in a history that is still being made. With international interest waning and ISIS sleeper cells and foreign fighter recruitments quietly continuing, ready to reignite the landscape, those Kurdish and Arab victories in 2017 and onward hold no guarantees. As Lemmon observes, it is “easier to kill a terrorist than to slay an ideology.” Still, no matter the final outcome, the women who fought this war have shown the world what courage and justice look like. And if the next generation must keep fighting, these warriors have shown them how.'

#5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 

ii) Top 10 ODI Batsmen in men along with the records of their team and rating. 

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
def get_teams(url, limit):

  country_list = []
  matches_list = []
  points_list = []
  ratings_list = []
  match_point_temp_list=[]  
  focus_page = requests.get(url) 
  focus_soup = BeautifulSoup(focus_page.content, 'html.parser')
  rows = focus_soup.find_all('tr', class_ = 'rankings-block__banner')
  for row in rows:
    country_list.append(row.find('span',class_='u-hide-phablet').text.strip())
    matches_list.append(row.find('td',class_='rankings-block__banner--matches').text.strip())
    points_list.append(row.find('td',class_='rankings-block__banner--points').text.strip())
    ratings_list.append(row.find('td',class_='rankings-block__banner--rating u-text-right').text.strip())

  rows = focus_soup.find_all('tr', class_ = 'table-body', limit=limit-1)
  for row in rows:
    for country in row.findChildren('span',class_='u-hide-phablet'):
      country_list.append(country.text.strip())
    for matches in row.findChildren('td',class_='table-body__cell u-center-text'):
      match_point_temp_list.append(matches.text)
    for rating in row.findChildren('td',class_='table-body__cell u-text-right rating'):
      ratings_list.append(rating.text.strip())
  matches_list.extend(match_point_temp_list[:-1:2])
  points_list.extend(match_point_temp_list[1::2])
  return pd.DataFrame({'Team': country_list, 'Matches':matches_list, 'Points':points_list, 'Ratings':ratings_list})


def get_player(url, limit):

  players_list = []
  countries_list = []
  pl_ratings_list = []
  focus_page = requests.get(url) 
  focus_soup = BeautifulSoup(focus_page.content, 'html.parser')
  players_list.append(focus_soup.find('div',class_='rankings-block__banner--name-large').text.strip())
  countries_list.append(focus_soup.find('div',class_='rankings-block__banner--nationality').text.strip())
  pl_ratings_list.append(focus_soup.find('div',class_='rankings-block__banner--rating').text.strip())

  names = focus_soup.find_all('td', class_ = 'table-body__cell rankings-table__name name',limit=limit-1)
  teams = focus_soup.find_all('span', class_ = 'table-body__logo-text',limit=limit-1)
  ratings = focus_soup.find_all('td', class_ = 'table-body__cell rating',limit=limit-1)

  for name, team, rating in zip(names, teams, ratings):
    players_list.append(name.text.strip())
    countries_list.append(team.text.strip())
    pl_ratings_list.append(rating.text.strip())
  names, teams, ratings = (None, None, None)
  return pd.DataFrame({'Player': players_list, 'Team': countries_list, 'Rating': pl_ratings_list})


def scrap_cricket(url, category, match_type, limit, player_role=None, gender='men'):
  focus_url = None
  page = requests.get(url)
  soup = BeautifulSoup(page.content, 'html.parser')
  if category == 'teams':
    print(f"The top {limit} teams are :")
    focus_url = url+soup.find('a', text="Team Rankings")['href']+'/'+match_type
    if gender == 'women':
      focus_url=focus_url.replace('mens','womens')
    return get_teams(focus_url, limit)
  elif category == 'players':
    print(f"The top {limit} players in {player_role} are :")
    focus_url = url+soup.find('a', text="Players Rankings")['href']+'/'+match_type+'/'+player_role
    if gender == 'women':
      focus_url=focus_url.replace('mens','womens')
    print(focus_url)
    return get_player(focus_url, limit)

### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'teams', 'odi', 10)

The top 10 teams are :

           Team Matches Points Ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      37  3,366      91
7     Sri Lanka      42  3,372      80
8   West Indies      49  3,802      78
9   Afghanistan      31  1,844      59

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'players', 'odi', 10, 'batting')

The top 10 players in batting are :
https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

                Player Team Rating
0          Virat Kohli  IND    870
1         Rohit Sharma  IND    842
2           Babar Azam  PAK    837
3          Ross Taylor   NZ    818
4          Aaron Finch  AUS    791
5  Francois du Plessis   SA    790
6         David Warner  AUS    773
7            Shai Hope   WI    773
8      Kane Williamson   NZ    765
9      Quinton de Kock   SA    755

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'players', 'odi', 10, 'bowling')

The top 10 players in bowling are :
https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

              Player Team Rating
0        Trent Boult   NZ    722
1   Mujeeb Ur Rahman  AFG    708
2     Jasprit Bumrah  IND    700
3       Mehedi Hasan  BAN    694
4       Chris Woakes  ENG    675
5      Kagiso Rabada   SA    665
6     Josh Hazlewood  AUS    660
7  Mustafizur Rahman  BAN    658
8      Mohammad Amir  PAK    647
9        Pat Cummins  AUS    646

#6.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. 

ii) Top 10 women’s ODI players along with the records of their team and rating. 

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

## I have repurposed the scrap_cricket function from Q5 for this question.

###i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'teams', 'odi', 10, gender = 'women')

The top 10 teams are :

           Team Matches Points Ratings
0     Australia      15  2,436     162
1  South Africa      24  2,828     118
2       England      17  1,993     117
3         India      20  2,226     111
4   New Zealand      18  1,696      94
5   West Indies      12  1,025      85
6      Pakistan      15  1,101      73
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

###ii) Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'players', 'odi', 10, 'batting', gender='women')

The top 10 players in batting are :
https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

              Player Team Rating
0        Lizelle Lee   SA    773
1     Tammy Beaumont  ENG    765
2        Meg Lanning  AUS    749
3    Stafanie Taylor   WI    746
4       Alyssa Healy  AUS    741
5  Amy Satterthwaite   NZ    740
6    Smriti Mandhana  IND    719
7    Laura Wolvaardt   SA    699
8        Mithali Raj  IND    693
9       Ellyse Perry  AUS    691

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'players', 'odi', 10, 'bowling', gender='women')

The top 10 players in bowling are :
https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling

            Player Team Rating
0    Jess Jonassen  AUS    804
1     Megan Schutt  AUS    735
2   Shabnim Ismail   SA    733
3   Marizanne Kapp   SA    725
4   Jhulan Goswami  IND    687
5     Ellyse Perry  AUS    666
6  Katherine Brunt  ENG    655
7     Poonam Yadav  IND    654
8   Ayabonga Khaka   SA    651
9    Shikha Pandey  IND    623

###iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [ ]:
url = 'https://www.icc-cricket.com'
scrap_cricket(url, 'players', 'odi', 10, 'all-rounder', gender='women')

The top 10 players in all-rounder are :
https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

             Player Team Rating
0      Ellyse Perry  AUS    460
1   Stafanie Taylor   WI    410
2    Marizanne Kapp   SA    390
3     Deepti Sharma  IND    357
4    Natalie Sciver  ENG    349
5     Jess Jonassen  AUS    301
6     Sophie Devine   NZ    274
7  Dane van Niekerk   SA    252
8   Katherine Brunt  ENG    236
9  Ashleigh Gardner  AUS    223

#7. Write a python program to scrape details of all the mobile phones under Rs.20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [ ]:
url = 'https://www.amazon.in'
requests.get(url)

In [ ]:
def get_amazon_products(url):
  user_win = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36'
  user_linux = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36'
  HEADERS = ({'User-Agent': user_win,
              'Accept-Language': 'en-US, en;q=0.5'})
 

  titles = []
  prices = []
  images = []
  ratings = []
  base_url = 'https://www.amazon.in'
  url = url
  has_url = True
  page = 1

  while has_url:
    print(f"Response for page number {page} : {requests.get(url)}")
    soup = BeautifulSoup(requests.get(url, headers= HEADERS).content, 'html.parser')
    titles_soup = soup.find_all('a',class_='a-link-normal a-text-normal')
    prices_soup = soup.find_all('span','a-price-whole')
    images_soup = soup.find_all('img',class_='s-image')
    ratings_soup = soup.find_all('span',class_='a-icon-alt')
    for title, price, image, rating in zip(titles_soup, prices_soup, images_soup, ratings_soup):
      titles.append(title.text.strip())
      prices.append(price.text.strip())
      images.append(image['src'])
      ratings.append(rating.text.split()[0])
      
    next = soup.find('li', class_='a-last')
    page = page + 1
    try:
      url = base_url+next.findChild('a')['href']
    except:
      has_url = False
    
  return pd.DataFrame({'Product Name':titles,'Price':prices,'Image Url':images,'Rating out of 5':ratings})

In [ ]:
#url = 'https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A-2000000&dc&qid=1616249069&rnid=1318502031&ref=sr_nr_p_36_5'
url = 'https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A-2000000%2Cp_n_feature_five_browse-bin%3A1484937031%7C1484938031%7C8561104031%7C8561106031%7C8561108031%7C8561109031&dc&qid=1616299799&rnid=1484936031&ref=sr_nr_p_n_feature_five_browse-bin_5'
mobiles_under_20000 = get_amazon_products(url)
mobiles_under_20000

Response for page number 1 : <Response [503]>
Response for page number 2 : <Response [200]>
Response for page number 3 : <Response [503]>
Response for page number 4 : <Response [503]>
Response for page number 5 : <Response [503]>
Response for page number 6 : <Response [503]>
Response for page number 7 : <Response [503]>
Response for page number 8 : <Response [503]>
Response for page number 9 : <Response [503]>
Response for page number 10 : <Response [503]>
Response for page number 11 : <Response [503]>
Response for page number 12 : <Response [503]>
Response for page number 13 : <Response [503]>
Response for page number 14 : <Response [503]>
Response for page number 15 : <Response [200]>
Response for page number 16 : <Response [200]>
Response for page number 17 : <Response [503]>
Response for page number 18 : <Response [503]>
Response for page number 19 : <Response [503]>
Response for page number 20 : <Response [503]>
Response for page number 21 : <Response [200]>
Response for page number 22 : <Response [503]>
Response for page number 23 : <Response [503]>
Response for page number 24 : <Response [503]>
Response for page number 25 : <Response [503]>
Response for page number 26 : <Response [503]>
Response for page number 27 : <Response [503]>
Response for page number 28 : <Response [503]>
Response for page number 29 : <Response [503]>
Response for page number 30 : <Response [503]>
Response for page number 31 : <Response [503]>
Response for page number 32 : <Response [503]>
Response for page number 33 : <Response [503]>
Response for page number 34 : <Response [503]>
Response for page number 35 : <Response [503]>
Response for page number 36 : <Response [503]>
Response for page number 37 : <Response [503]>
Response for page number 38 : <Response [503]>
Response for page number 39 : <Response [503]>
Response for page number 40 : <Response [503]>
Response for page number 41 : <Response [503]>
Response for page number 42 : <Response [503]>
Response for page number 43 : <Response [503]>
Response for page number 44 : <Response [503]>
Response for page number 45 : <Response [503]>
Response for page number 46 : <Response [503]>
Response for page number 47 : <Response [503]>
Response for page number 48 : <Response [503]>
Response for page number 49 : <Response [503]>
Response for page number 50 : <Response [503]>
Response for page number 51 : <Response [200]>
Response for page number 52 : <Response [503]>
Response for page number 53 : <Response [503]>
Response for page number 54 : <Response [503]>
Response for page number 55 : <Response [200]>
Response for page number 56 : <Response [503]>
Response for page number 57 : <Response [503]>
Response for page number 58 : <Response [503]>
Response for page number 59 : <Response [503]>
Response for page number 60 : <Response [503]>
Response for page number 61 : <Response [503]>
Response for page number 62 : <Response [503]>
Response for page number 63 : <Response [503]>
Response for page number 64 : <Response [503]>
Response for page number 65 : <Response [200]>
Response for page number 66 : <Response [503]>
Response for page number 67 : <Response [503]>
Response for page number 68 : <Response [503]>
Response for page number 69 : <Response [503]>
Response for page number 70 : <Response [503]>
Response for page number 71 : <Response [503]>
Response for page number 72 : <Response [503]>
Response for page number 73 : <Response [503]>
Response for page number 74 : <Response [200]>
Response for page number 75 : <Response [503]>
Response for page number 76 : <Response [503]>
Response for page number 77 : <Response [200]>
Response for page number 78 : <Response [503]>
Response for page number 79 : <Response [200]>
Response for page number 80 : <Response [200]>
Response for page number 81 : <Response [503]>
Response for page number 82 : <Response [503]>
Response for page number 83 : <Response [503]>
Response for page number 84 : <Response [503]>
Response for page number 85 : <Response [503]>
Response for page number 86 : <Response [503]>
Response for page number 87 : <Response [200]>
Response for page number 88 : <Response [200]>
Response for page number 89 : <Response [200]>
Response for page number 90 : <Response [200]>
Response for page number 91 : <Response [503]>
Response for page number 92 : <Response [503]>
Response for page number 93 : <Response [503]>
Response for page number 94 : <Response [503]>
Response for page number 95 : <Response [200]>
Response for page number 96 : <Response [200]>
Response for page number 97 : <Response [503]>
Response for page number 98 : <Response [503]>
Response for page number 99 : <Response [503]>
Response for page number 100 : <Response [503]>
Response for page number 101 : <Response [503]>
Response for page number 102 : <Response [503]>
Response for page number 103 : <Response [503]>
Response for page number 104 : <Response [503]>
Response for page number 105 : <Response [503]>
Response for page number 106 : <Response [200]>

                                           Product Name  ... Rating out of 5
0     G'Five U331 || Dual Sim || Open FM || Auto Cal...  ...             4.2
1     G'Five A1 & A2 Combo of Two || Dual Sim || Ope...  ...             4.2
2     Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...  ...             4.1
3     Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...  ...             4.2
4             Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)  ...             4.2
...                                                 ...  ...             ...
1835  G'Five A1 & A2 Combo of Two || Dual Sim || Ope...  ...             5.0
1836  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             4.0
1837  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             4.4
1838  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             1.0
1839                           ZOPO Color C ZP330(Blue)  ...             3.4

[1840 rows x 4 columns]

In [ ]:
mobiles_under_20000

                                           Product Name  ... Rating out of 5
0     G'Five U331 || Dual Sim || Open FM || Auto Cal...  ...             4.2
1     G'Five A1 & A2 Combo of Two || Dual Sim || Ope...  ...             4.2
2     Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...  ...             4.1
3     Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...  ...             4.2
4             Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)  ...             4.2
...                                                 ...  ...             ...
1835  G'Five A1 & A2 Combo of Two || Dual Sim || Ope...  ...             5.0
1836  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             4.0
1837  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             4.4
1838  G'Five i2 || Dual Sim || Open FM || Auto Call ...  ...             1.0
1839                           ZOPO Color C ZP330(Blue)  ...             3.4

[1840 rows x 4 columns]

In [ ]:
mobiles_under_20000.to_csv('/content/Mobiles_under_200.csv')

Saved and downloaded the data

#8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [19]:
def get_forcast(url):
  
  periods_list = []
  forecasts = []

  soup = BeautifulSoup(requests.get(url).content, 'lxml')
  periods = soup.find_all('div',class_='col-sm-2 forecast-label')
  forcasts_texts = soup.find_all('div',class_='col-sm-10 forecast-text')

  for period,text in zip(periods,forcasts_texts):
    periods_list.append(period.text.strip())
    forecasts.append(text.text.strip())

  initial_dataframe = pd.DataFrame({'Period':periods_list, 'Description': forecasts})
  initial_dataframe['ShortDescription'] = initial_dataframe['Description'].apply(lambda x : x.split(',')[0])
  initial_dataframe['Temperature'] = initial_dataframe['Description'].apply(lambda x : x.split(',')[1].split('.')[0].split()[-1])

  return initial_dataframe

In [20]:
url = 'https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YFclBK8zZPY'
get_forcast(url)

             Period  ... Temperature
0         Overnight  ...          47
1            Sunday  ...          63
2      Sunday Night  ...          46
3            Monday  ...          63
4      Monday Night  ...          47
5           Tuesday  ...          67
6     Tuesday Night  ...          50
7         Wednesday  ...          67
8   Wednesday Night  ...          48
9          Thursday  ...          62
10   Thursday Night  ...          46
11           Friday  ...          65
12     Friday Night  ...          48
13         Saturday  ...          68

[14 rows x 4 columns]

#9.Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [22]:
url = 'https://www.monsterindia.com/srp/results?sort=1&limit=25&query=Software%20Developer&searchId=ade3596f-912d-43cc-8431-2f4adebd1f5a'
requests.get(url)

Hitting Forbidden error

#10.Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [23]:
url ='https://www.monsterindia.com/srp/results?query=data%20scientist&searchId=5890cda3-b835-481e-9621-e0befe44d52a'
requests.get(url)

Hitting Forbidden error